<div class="loader-container" *ngIf="loading; else elseBlock">
  <mat-spinner class="progress-spinner"></mat-spinner>
</div>
<ng-template #elseBlock>
  <div class="meus_dados_container" *ngIf="usuario">
    <app-page-top-bar
      titulo="Meus Dados"
      [loading]="loading || loadingSave"
      [loadingSave]="loadingSave"
      [editando]="editando"
      [salvarAction]="salvarUsuario.bind(this)"
      [cancelarAction]="cancelar.bind(this)"
      [editarAction]="editar.bind(this)"
    ></app-page-top-bar>
    <div class="dados">
      <div class="foto-linha">
        <img
          class="avatar x-large mat-elevation-z8"
          [src]="usuario?.url_foto_perfil"
        />
      </div>
      <div class="dados-cadastrais">
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input
              matInput
              [(ngModel)]="usuario.email"
              disabled
              placeholder="Insira seu Email"
            />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Nome Completo</mat-label>
            <input
              matInput
              [(ngModel)]="usuario.nome"
              [disabled]="!editando"
              placeholder="Insira seu Nome"
            />
            <mat-hint>Nome obtido do Google</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Nível</mat-label>
            <input
              type="text"
              [disabled]="!editando"
              placeholder="Selecione ou escreva o nível"
              matInput
              [matAutocomplete]="autoNivel"
              [(ngModel)]="usuario.nivel"
            />
            <mat-autocomplete #autoNivel="matAutocomplete">
              <mat-option *ngFor="let option of nivelOpcao" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </p>
        <p
          *ngIf="
            usuario.nivel === 'Graduação' || usuario.nivel === 'Ensino Técnico'
          "
        >
          <mat-form-field appearance="legacy">
            <mat-label>Curso</mat-label>
            <input
              type="text"
              [disabled]="!editando"
              placeholder="Selecione ou escreva o seu curso"
              matInput
              [matAutocomplete]="autoCurso"
              [(ngModel)]="usuario.curso"
            />
            <mat-autocomplete #autoCurso="matAutocomplete">
              <mat-option
                *ngFor="
                  let option of cursosOpcoes[
                    usuario.nivel === 'Graduação' ? 'graduacao' : 'tecnico'
                  ]
                "
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </p>
        <p
          *ngIf="
            usuario.nivel === 'Graduação' || usuario.nivel === 'Ensino Técnico'
          "
        >
          <mat-form-field appearance="legacy">
            <mat-label>Instituto</mat-label>
            <input
              type="text"
              [disabled]="!editando"
              placeholder="Selecione ou escreva o seu instituto"
              matInput
              [matAutocomplete]="autoInst"
              [(ngModel)]="usuario.universidade"
            />
            <mat-autocomplete #autoInst="matAutocomplete">
              <mat-option
                *ngFor="
                  let option of instituicoes[
                    usuario.nivel === 'Graduação' ? 'graduacao' : 'tecnico'
                  ]
                "
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Tamanho Da Camisa</mat-label>
            <mat-select
              [disabled]="!editando"
              [(value)]="usuario.tamanho_camisa"
            >
              <mat-option *ngFor="let tamanho of tamanhos" [value]="tamanho">
                {{ tamanho }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Gênero</mat-label>
            <input
              matInput
              [disabled]="!editando"
              [(ngModel)]="usuario.genero"
              placeholder="Insira seu Nome"
            />
          </mat-form-field>
        </p>
        <p>
          <app-auto-complete-input
            [options]="estados"
            valueField="sigla"
            textField="nome"
            labelText="Estado"
            [loading]="loadingEstado"
            [disabled]="!editando"
            [selectedValue]="usuario.estado!"
            (selectedOption)="selecionarEstado($event)"
          ></app-auto-complete-input>
        </p>
        <p>
          <app-auto-complete-input
            [options]="cidades"
            valueField="nome"
            textField="nome"
            labelText="Município"
            [selectedValue]="usuario.cidade!"
            [loading]="loadingCidade"
            [disabled]="!editando"
            (selectedOption)="selecionarMunicipio($event)"
          ></app-auto-complete-input>
        </p>
      </div>
    </div>
  </div>
</ng-template>
