#pdfTable {
  width: 1096px;
  height: 794px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #505050;

  .certificado-titulo {
    width: 100%;
    text-align: center;
    margin: 35px 0;
    font-size: 30px;
  }

  .texto-certificado {
    font-size: 24px;
    text-align: justify;
    line-height: 38px;
    padding: 0 55px;
    text-indent: 50px;
  }

  .data-certificado {
    padding: 0 55px;
    width: 100%;
    text-align: end;
    font-size: 20px;
    margin-top: 20px;
  }

  .assinatura-certificado {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    padding: 0 55px;
    div {
      border-bottom: 1px solid;
      width: 35%;
    }

    img {
      width: 100%;
    }
  }

  .assinatura-certificado-nomes {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    margin-top: 20px;
    padding: 0 55px;
    div {
      width: 35%;
      text-align: center;
    }
  }
  .header-cert {
    height: 10px;
    width: 100%;
    border-radius: 3px;
  }

  .certificado-container {
    height: fit-content;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .certificado-informacao-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 125px);
    overflow: hidden;
  }
}
