.atividade-item {
  margin-bottom: 20px;
  .responsaveis {
    display: flex;
    align-items: center;
    div {
      margin-right: 3px;

      a {
        cursor: pointer;
      }
    }

    .resp-foto-container {
      display: flex;
      flex-wrap: wrap;
      margin-left: 10px;
    }

    .responsavel-foto {
      width: 40px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
  p {
    text-align: justify;
    margin-bottom: 0;
  }
  .bottom-bar {
    width: 100%;
    hr {
      width: calc(100% - 10px);
    }
  }
}
