<div class="modal-body">
  <img class="logo-img" [src]="semanaAtiva.logo" />
  <h1>
    {{ cadastroUsuario ? "Cadastro de Usuário" : "Acesse sua conta" }}
  </h1>
  <mat-spinner class="progress-spinner" *ngIf="loading"></mat-spinner>
  <hr />
  <div
    *ngIf="!loading && !cadastroUsuario && !mostrarEmailESenhaLogin"
    class="social-login-buttons"
  >
    <div
      class="social-button"
      *ngFor="let button of socialButtons"
      [ngStyle]="{ background: button.background, color: button.fontColor }"
      [ngClass]="button.source"
      (click)="button.callback(button.source)"
    >
      <img [src]="button.icone" />
      <span>{{ button.texto }}</span>
    </div>
  </div>
  <div *ngIf="!loading && !cadastroUsuario && !mostrarEmailESenhaLogin">
    <div
      [ngStyle]="{ color: coresEdicao.coresAtivas.cor6 }"
      (click)="mostrarEmailESenhaLogin = !mostrarEmailESenhaLogin"
      class="email-senha"
    >
      ou acesse utilizando seu email e senha
    </div>
  </div>
  <div
    class="login-email-senha"
    *ngIf="!loading && !cadastroUsuario && mostrarEmailESenhaLogin"
  >
    <div *ngIf="aguardandoValidacao" class="verifique-email">
      Email ainda não confimado. Verifique o link de confirmação no email
      cadastrado. Ou
      <a
        class="clique-aqui"
        [ngStyle]="{ color: coresEdicao.coresAtivas.cor6 }"
        (click)="confirmarEmail()"
        >clique aqui</a
      >
      para reenviar o link de confirmação. Cheque a sua caixa de spam caso não
      encontre o email.
    </div>
    <div *ngIf="erroLogin && !aguardandoValidacao" class="verifique-email">
      {{ erroLoginMessage }}
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        [(ngModel)]="loginEmailSenha.email"
        placeholder="Insira seu Email"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="!esqueceuSenha">
      <mat-label>Senha</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="loginEmailSenha.senha"
        placeholder="Insira sua senha"
      />
    </mat-form-field>
    <div
      class="esqueceu-senha-texto"
      *ngIf="!esqueceuSenha && !cadastroEmailSenha"
      [ngStyle]="{ color: coresEdicao.coresAtivas.cor6 }"
      (click)="esqueceuSenha = true"
    >
      Esqueceu sua senha?
    </div>
    <mat-form-field appearance="outline" *ngIf="cadastroEmailSenha">
      <mat-label>Confirmação de Senha</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="loginEmailSenha.confirmacaoSenha"
        placeholder="Insira sua senha"
      />
    </mat-form-field>
    <div class="email-senha-botoes">
      <button
        *ngIf="!cadastroEmailSenha && !esqueceuSenha"
        mat-raised-button
        [ngStyle]="{
          'background-color': coresEdicao.coresAtivas.cor2,
          color: coresEdicao.coresAtivas.cor5
        }"
        (click)="loginWithEmailSenha()"
      >
        Login
      </button>
      <button
        *ngIf="!cadastroEmailSenha && !esqueceuSenha"
        mat-raised-button
        [ngStyle]="{
          'background-color': coresEdicao.coresAtivas.cor2,
          color: coresEdicao.coresAtivas.cor5
        }"
        (click)="cadastroEmailSenha = !cadastroEmailSenha"
      >
        Novo Usuario
      </button>
      <button
        *ngIf="cadastroEmailSenha && !esqueceuSenha"
        mat-raised-button
        [ngStyle]="{
          'background-color': coresEdicao.coresAtivas.cor2,
          color: coresEdicao.coresAtivas.cor5
        }"
        (click)="cadastrarUsuario()"
      >
        Cadastrar
      </button>
      <button
        *ngIf="esqueceuSenha"
        mat-raised-button
        [ngStyle]="{
          'background-color': coresEdicao.coresAtivas.cor2,
          color: coresEdicao.coresAtivas.cor5
        }"
        (click)="recuperarSenha()"
      >
        Recuperar senha
      </button>
    </div>
  </div>
  <div *ngIf="!loading && !cadastroUsuario && mostrarEmailESenhaLogin">
    <div
      [ngStyle]="{ color: coresEdicao.coresAtivas.cor6 }"
      class="email-senha"
      (click)="mostrarEmailESenhaLogin = !mostrarEmailESenhaLogin"
    >
      ou acesse utilizando suas redes sociais
    </div>
  </div>
  <div *ngIf="!loading && cadastroUsuario" class="completar-cadastro">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.email"
          disabled
          placeholder="Insira seu Email"
        />
        <mat-hint>Email obtido do Google</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Nome Completo</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.nome"
          disabled
          placeholder="Insira seu Nome"
        />
        <mat-hint>Nome obtido do Google</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Universidade</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.universidade"
          placeholder="Insira seu Nome"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Curso</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.curso"
          placeholder="Insira seu Nome"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Nível</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.nivel"
          placeholder="Insira seu Nome"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Tamanho Da Camisa</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.tamanho_camisa"
          placeholder="Insira seu Nome"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Gênero</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.genero"
          placeholder="Insira seu Nome"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Estado</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.estado"
          placeholder="Insira seu Nome"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Cidade</mat-label>
        <input
          matInput
          [(ngModel)]="usuario.cidade"
          placeholder="Insira seu Nome"
        />
      </mat-form-field>
    </p>
    <div class="cadastro-botoes">
      <button mat-button color="warn">Cancelar</button>
      <button mat-button color="primary" (click)="salvarUsuario()">
        Cadastrar
      </button>
    </div>
  </div>
</div>
