.corpo-card {
  width: 170px;
  height: 220px;
  background-color: rgb(250, 250, 250);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .patrocinador-nome {
    display: none;
  }

  &:hover {
    .userEditButton {
      display: inline-block !important;
    }

    .patrocinador-img {
      width: 80%;
      height: 80%;
    }

    .patrocinador-nome {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .userEditButton {
    display: none;
  }
}

.modal-body {
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}
