<div
  style="
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    text-align: justify;
  "
  (mouseenter)="mouseOver()"
  (mouseleave)="showEdit = false"
  EditContentDirective
>
  <img style="width: 90%" src="../../../../assets/imgs/cursos.png" />
  <h2>
    {{ titulos[tipoAtividade] }}
  </h2>
  <p>
    TWRLFNCDS FÇSANFÇDSA FDÇSNAFJKDSA FJÇEWNFKRWA RÇEQ VRJEQ GRNQE GRÇAE CJVRÇ
    EAVRÇE QG JRE VJRAÇ VJFD JKLSD FJ LDSJ EWK VJLDF JVL FDV QJR EGNV FDA VNFD,
    SNV FD,M GNM, WRGNTLE KJV FNMDS, VNMF, SVNFM, WNRTM ,WEVÇD SFNK VNF ÇNB
    RNÇWB DÇVNS VND SVN,F DNBW, W,N
  </p>
</div>
