<div class="main-container">
  <h2 [ngStyle]="{ color: coresEdicao.coresAtivas.cor2 }">
    Entre em contato conosco pelas nossas redes sociais:
  </h2>
  <div>
    <ul>
      <li>
        <a href="https://www.facebook.com/semanadaquimicaUFRJ"
          >https://www.facebook.com/semanadaquimicaUFRJ</a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/semanadaquimicaufrj/"
          >https://www.instagram.com/semanadaquimicaufrj/</a
        >
      </li>
      <li>
        <a href="https://twitter.com/SemanaDaQuimica"
          >https://twitter.com/SemanaDaQuimica</a
        >
      </li>
    </ul>
    <p>
      Ou envie um email para o endereço:
      <a href="mailto:contatosdqufrj@gmail.com">contatosdqufrj@gmail.com</a>
    </p>
  </div>
</div>
