<div class="main-container">
  <app-page-top-bar
    titulo="Configurar Turnos"
    [loading]="false"
    [loadingSave]="false"
  ></app-page-top-bar>
  <div class="content">
    <div class="atividades-opcoes">
      <mat-form-field appearance="legacy">
        <mat-label>Edição</mat-label>
        <mat-select
          [(value)]="edicaoSelecionada"
          (selectionChange)="selectEdicao()"
        >
          <mat-option *ngFor="let edicao of edicoes" [value]="edicao">
            {{ edicao.parsed_data_inicio.getFullYear() + " - " + edicao.tema }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <app-tabela-edicao
      [data]="data"
      [modalConfig]="obterModelo.bind(this)"
      [salvarAction]="salvarTurno.bind(this)"
      [deletarAction]="deleteTurno.bind(this)"
      (saved)="loadTurnos()"
      [loading]="loading"
      nomeEntidade="Turno"
    ></app-tabela-edicao>
  </div>
</div>
