<div class="main-container">
  <app-page-top-bar titulo="Meus Certificados"></app-page-top-bar>
  <div *ngIf="false" class="loader-spinner">
    <mat-spinner class="progress-spinner"></mat-spinner>
  </div>
  <div class="meus-cursos-container">
    <div class="container">
      <mat-card class="edicao-titulo">
        <mat-card-content>
          <div class="edicao-numero">Edição</div>
          <div class="edicao-titulo">Atividade</div>
        </mat-card-content>
      </mat-card>
      <mat-card *ngFor="let atividade of atividades">
        <mat-card-content>
          <div class="edicao-numero">{{ atividade.numero_edicao }}</div>
          <div class="edicao-titulo">{{ atividade.titulo }}</div>
          <div>
            <button
              *ngIf="atividade.percentual_presenca >= 0.75"
              mat-icon-button
              aria-label="Baixar certificado"
              (click)="prepararDadosCertificado(atividade)"
            >
              <mat-icon
                [ngStyle]="{ color: coresService.coresAtivas.cor2 }"
                matTooltip="Baixar certificado"
                >download</mat-icon
              >
            </button>
            <button
              *ngIf="atividade.percentual_presenca < 0.75"
              mat-icon-button
              aria-label="Baixar certificado"
              class="certificado-bloqueado"
            >
              <mat-icon
                matTooltip="O usuário não teve presença suficiente para obter este certificado"
                >block</mat-icon
              >
            </button>
          </div>
        </mat-card-content>

        <mat-card-footer>
          <mat-progress-bar
            *ngIf="atividade.carregando"
            mode="indeterminate"
          ></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>

<div style="height: 0; overflow: hidden">
  <div
    id="pdfTable"
    #pdfTable
    [ngStyle]="{ display: exportando ? 'flex' : 'flex' }"
  >
    <div
      style="
        height: fit-content;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="header-cert"></div>
      <div><img [src]="img" style="width: 230px" /></div>
      <div class="header-cert"></div>
    </div>
    <div class="certificado-titulo">
      <u><b>C E R T I F I C A D O</b></u>
    </div>
    <div class="texto-certificado">
      <p>
        Certificamos que
        {{ authService.usuarioLogado?.nome?.toLocaleUpperCase() }} participou
        {{ dadosCertificado.tipo }} “{{ dadosCertificado.tituloAtividade }}”,
        ministrado por {{ dadosCertificado.responsaveis }} durante a
        {{ dadosCertificado.numero_edicao }}ª Semana da Química do Instituto de
        Química da Universidade Federal do Rio de Janeiro,
        {{ dadosCertificado.textoData }}, com carga horária de
        {{ dadosCertificado.duracaoAtividade.toLocaleString() }} horas.
      </p>
    </div>
    <div class="data-certificado">
      Rio de Janeiro, {{ dadosCertificado.data_atual }}
    </div>
    <div class="assinatura-certificado">
      <div><img [src]="assinatura" /></div>
      <div><img [src]="assinatura" /></div>
    </div>
    <div class="assinatura-certificado-nomes">
      <div>
        <p>Juliano de Lima Marinho</p>
        <p>Diretor do Institulo de Química</p>
      </div>
      <div>
        <p>Juliano de Lima Marinho</p>
        <p>
          Presidente da Comissão Organizadora da
          {{ dadosCertificado.numero_edicao }}ª Semana da Química
        </p>
      </div>
    </div>
  </div>
</div>
