.content {
  padding: 15px;

  mat-form-field {
    width: 100%;
  }

  .horario-inicio-fim {
    display: flex;
    justify-content: space-between;

    mat-form-field {
      width: 125px;
    }
  }

  .save-buttons {
    display: flex;
    justify-content: space-between;
  }
}

::ng-deep {
  .cdk-overlay-container {
    z-index: 99999 !important;
  }
}
