:host {
  width: 100%;
  min-width: 800px;
  .main-container {
    height: 100%;
  }
}

.calendario-wraper {
  display: flex;
  height: calc(100% - 65px);

  .selecao-atividades {
    width: 25%;
    padding: 15px;

    .atividade-lista {
      width: 100%;
      height: calc(100% - 5px);
      overflow: auto;

      .atividade-card {
        width: 97%;
        height: 120px;
        margin: 5px 0;
        overflow: hidden;
        border-radius: 15px;
        border: 2px solid;
        cursor: pointer;

        .atividade-card-titulo {
          text-align: center;
          border-bottom: 2px solid;
        }

        .atividade-card-detalhes {
          padding: 5px;
        }
      }
    }
  }

  .calendario {
    padding: 15px;
    width: 75%;
  }
}
