/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import "../node_modules/angular-calendar/css/angular-calendar.css";

.avatar {
  margin-top: 16px;
  border-radius: 50%;

  &.small {
    width: 45px;
    height: 45px;
  }

  &.large {
    width: 100px;
    height: 100px;
  }

  &.x-large {
    width: 150px;
    height: 150px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #002b5c;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0057bb;
}

.alternative-scrollbar {
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
}

.loader-spinner {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}
