.table-wrapper {
  height: calc(100% - 110.5px);

  .top-bar-tabela {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
  }

  .filtro {
    background-color: white;
    width: 100%;
    padding: 0 24px;
  }
}

table {
  width: 100%;
  background-color: #fafafa;
}

.bottom-bar-table {
  display: flex;
  justify-content: space-between;

  .buttons-table {
    display: flex;
  }
}

.table-container {
  height: calc(100% - 45px);
  overflow-y: auto;
}

mat-paginator {
  background-color: #fafafa;
}

.texto-lista-vazia {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}

.acoes_container {
  display: flex;
  justify-content: end;
}

.inner-table-text {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
