<div class="table-wrapper">
  <div class="top-bar-tabela">
    <mat-form-field class="filtro">
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" />
    </mat-form-field>
    <button
      mat-icon-button
      (click)="download()"
      *ngIf="enableDownload && data.length > 0"
      [ngStyle]="{ color: corEdicao.coresAtivas.cor6 }"
    >
      <mat-icon matTooltip="Fazer download da tabela">file_download</mat-icon>
    </button>
  </div>
  <div class="table-container">
    <mat-table [dataSource]="dataSource" matSort [sti]>
      <ng-container
        *ngFor="let header of headers"
        [matColumnDef]="header.property"
      >
        <mat-header-cell
          *matHeaderCellDef
          [ngStyle]="header.tableStyle"
          mat-sort-header
          >{{ header.name }}</mat-header-cell
        >
        <mat-cell *matCellDef="let element" [ngStyle]="header.tableStyle">
          <div class="inner-table-text">
            {{
              header.valueFormatter
                ? header.valueFormatter(element)
                : element[header.property]
            }}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="acoes" *ngIf="!noActions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell
          *matCellDef="let element"
          style="width: 100px; justify-content: flex-end"
        >
          <div
            class="acoes_container"
            [ngStyle]="{ color: corEdicao.coresAtivas.cor6 }"
          >
            <button
              *ngFor="let customAction of customActions"
              mat-icon-button
              matTooltipPosition="above"
              [matTooltip]="customAction.tooltip"
              (click)="customAction.action(element)"
            >
              <mat-icon>{{ customAction.icon }}</mat-icon>
            </button>
            <button
              (click)="deleteAction(element)"
              mat-icon-button
              matTooltipPosition="above"
              *ngIf="!readOnly"
              [matTooltip]="'Excluir ' + nomeEntidade"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              (click)="openAddEditModal(element)"
              mat-icon-button
              *ngIf="!readOnly"
              matTooltipPosition="above"
              [matTooltip]="'Editar ' + nomeEntidade"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="openAddEditModal(element)"
              mat-icon-button
              *ngIf="readOnly"
              matTooltipPosition="above"
              matTooltip="Ver detalhes"
            >
              <mat-icon>find_in_page</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <div
      *ngIf="loading"
      style="display: flex; justify-content: center; align-items: center"
    >
      <mat-progress-spinner class="progress-spinner" mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <div *ngIf="data.length === 0 && !loading" class="texto-lista-vazia">
      <h1>Não existem dados para serem exibidos</h1>
    </div>
  </div>
  <div class="bottom-bar-table">
    <div class="buttons-table">
      <button
        mat-button
        *ngIf="!readOnly"
        [ngStyle]="{ color: corEdicao.coresAtivas.cor6 }"
        (click)="openAddEditModal()"
      >
        Adicionar {{ nomeEntidade }}
      </button>
    </div>
    <mat-paginator
      [pageSize]="50"
      [pageSizeOptions]="[-1, 20, 50, 100]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
