<div class="main-container">
  <app-page-top-bar titulo="Minhas Atividades"></app-page-top-bar>
  <div *ngIf="false" class="loader-spinner">
    <mat-spinner class="progress-spinner"></mat-spinner>
  </div>
  <div class="meus-cursos-container">
    <mat-expansion-panel
      hideToggle
      *ngFor="let inscricao of inscricoes"
      (opened)="abrirInscricao(inscricao)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title class="middle-item">
          Inscrição: {{ inscricao.id }}
        </mat-panel-title>
        <mat-panel-description class="middle-item">
          Edição: 2022
        </mat-panel-description>
        <mat-panel-description class="middle-item">
          Valor: {{ inscricao.valor | currency: "BRL" }}</mat-panel-description
        >
        <div class="middle-item">
          <div class="status-inscricao" [ngClass]="inscricao.status">
            {{ inscricao.status_nome }}
          </div>
        </div>
      </mat-expansion-panel-header>
      <div *ngIf="inscricao.carregandoAtividades" class="loader-spinner">
        <mat-spinner diameter="50" class="progress-spinner"></mat-spinner>
      </div>
      <div *ngIf="!inscricao.carregandoAtividades">
        <h1>Cursos</h1>
        <div
          *ngFor="let atividade of inscricao.atividades"
          class="atividade-item-lista"
          [ngStyle]="{ 'border-color': coresEdicao.coresAtivas.cor2 }"
        >
          {{ atividade.titulo }}
        </div>
        <div *ngIf="inscricao.camisa_kit">
          Camisa da Semana da Química adicionada ao Kit.
        </div>
        <div *ngIf="inscricao.cotista_sbq">
          Participante cotista ou associado da SBQ.
        </div>
      </div>
      <mat-action-row *ngIf="inscricao.status === 'AGUARDANDO_PAGAMENTO'">
        <div *ngIf="inscricao.status === 'AGUARDANDO_PAGAMENTO'">
          <button
            mat-button
            color="primary"
            (click)="openModal(pagamentoModal, inscricao)"
          >
            Informar Pagamento
          </button>
          <button
            mat-button
            color="warn"
            (click)="cancelarInscricao(inscricao)"
          >
            Cancelar Inscrição
          </button>
        </div>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
</div>
<ng-template #pagamentoModal let-modal>
  <app-page-top-bar
    titulo="Informar Pagamento"
    [loadingSave]="loadingSalvar"
    [loading]="loadingSalvar"
    [salvarAction]="salvarPagamento.bind(this)"
    [cancelarAction]="fecharModal.bind(this, modal)"
    [editando]="true"
  ></app-page-top-bar>
  <div class="modal-body-pagamento" style="align-self: center">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>Pagamento</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        Para concluir a inscrição você deve ir até a página
        <b>Minhas Atividades</b> (no menu lateral), efetuar a pagamento das
        atividades por transferência bancária ou por PIX e informar o número do
        comprovante de pagamento. <br />
        <b>Transferência</b><br />
        Banco do Brasil<br />
        <b>Agência: </b> 1568-7<br />
        <b>C/C: </b>1055-3 <br />
        <b>Variação: </b>55 <br />
        <b>Chave PIX: </b>aos.gustavo@gmail.com
      </mat-card-content>
    </mat-card>
    <mat-form-field appearance="legacy">
      <mat-label>Comprovante de Pagamento</mat-label>
      <input
        matInput
        placeholder="Digite o número do comprovante"
        [(ngModel)]="inscricaoPagamento.numero_comprovante"
      />
    </mat-form-field>
  </div>
</ng-template>
